# Ignore Python cache and venv
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Ignore Taiga backend source (if not packaging with app)
taiga-src/

db.sqlite3
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore backup and temp files
*.bak
*.tmp
taiga-src/
